<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.market.app.dao.ProductDAO">
    <select id="selectNow" resultType="String">
        select now()
        from dual
    </select>
    <delete id="deleteProduct" parameterType="Integer">
        DELETE FROM PRODUCT
        WHERE product_id = #{productId}
    </delete>
    <select id="insertProductDetail">
        INSERT INTO PRODUCT_DETAIL
        (
            product_id,
            product_detail_image,
            product_detail_thumbnail,
            product_detail_color,
            product_detail_size,
            product_detail_gender
        )
        VALUES
        (
            #{productId},
            #{productDetailImage},
            #{productDetailThumbnail},
            #{productDetailColor},
            #{productDetailSize},
            #{productDetailGender}
        )
    </select>
    <select id="insertProduct">
        INSERT INTO PRODUCT
        (
            product_type_id,
            product_name,
            product_price,
            product_sale_rate,
            seller_id
        )
        VALUES(
            #{productTypeId},
            #{productName},
            #{productPrice},
            #{productSaleRate},
            #{sellerId}
        )
    </select>
</mapper>