<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.market.app.dao.FavoritesDAO">
    <!-- 찜 조회 -->
    <select id="findFavoritesByMemberId" parameterType="Integer" resultType="com.market.app.service.dto.FavoritesResponseDto">
        SELECT  p.product_id as productId,
                p.product_name as productName,
                p.product_sale_rate as productSaleRate,
                p.product_image as productImage
        FROM    FAVORITES f
                INNER JOIN
                PRODUCT p
                ON p.product_id = f.product_id
        WHERE   f.member_id = #{memberId}
    </select>
    <!-- 찜 등록 -->
    <insert id="insertFavorites" parameterType="com.market.app.web.dto.FavoritesRequestDto">
        INSERT INTO FAVORITES(
            favorites_id,
            member_id,
            product_id
        )
        VALUES(
            #{favoritesId},
            #{memberId},
            #{productId}
        )
    </insert>
    <!-- 찜 삭제 -->
    <delete id="deleteByFavoritesId" parameterType="Integer">
        DELETE FROM FAVORITES
        WHERE favorites_id = #{favoritesId}
    </delete>
</mapper>